
.header {
	font-family: sans-serif;
	position: relative;
	width: 100%;
}

.header .hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: white;
}

.header .hero__image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}

.header .hero__content {
	text-align: center;
	min-width: 750px;
}

.header .hero__title {
	font-size: 1rem;
	text-transform: uppercase;
}

.header .hero__description {
	font-size: 3.3rem;
	text-transform: uppercase;
	font-weight: bold;
	margin: 20px;
}


